{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Your Notes</h1>

        <div class="row">
            {% for note in notes %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h5 class="card-title">{{ note.title }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ note.content }}</p>
                            <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No notes available.</p>
            {% endfor %}
        </div>

        <a href="{{ path('note_new') }}" class="btn btn-success">Add New Note</a>
    </div>

{% endblock %}
